Source: py-pitop-common
Section: python
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
# Required by pybuild
 dh-python,
 python3-all,
 python3-setuptools,
Standards-Version: 4.5.0
Homepage: https://pi-top.com

Package: python3-pitopcommon
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 alsa-utils,
# 'arping' command
 arping,
 coreutils (>= 8),
 i2c-tools,
# 'ping' command
 iputils-ping,
 raspi-config,
# ZMQ for messaging
 python3-zmq,
Recommends:
# Required for 'pt-notify-send'
 pt-notifications,
Description: pi-top Python 3 Common Library
 Collection of common classes and modules used by pi-top software
 .
 This is the main Python library part of the package.
